body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f2f2f2;
}

button {
  margin: 0.5em;
  padding: 1em;
}

Button.special {
  background-color: yellow;
  border-radius: 200px;
  text-transform: lowercase;
  color: blueviolet;
}
Button.special:hover {
  background-color: goldenrod;
}

.selected {
  border: 2px solid red;
}